on emmc-fs
    mount_all ./fstab.qcom
    setprop ro.crypto.fuse_sdcard false

    mount vfat /dev/block/platform/msm_sdcc.2/by-num/p1 /.cust_backup ro
    mount vfat /dev/block/platform/msm_sdcc.2/by-num/p14 /storage/sdcard1 uid=1000,gid=1015,umask=0002,utf8
